.web-screen{ 
 background-image : url('../custom_media/Fond_Noir.jpg'); 
 background-size:cover; 
} 


.credentialform h1{ 
 font-size: 18px;
}

.web-screen .main-text{ 
 font-size: 18px;
}

.credentialform h1{ 
 color: #ffffff;
}

.web-screen .main-text{ 
 color: #ffffff;
}

.credentialform .plain{ 
 font-size: 16px;
}

.credentialform .field .checkbox label{ 
 font-size: 16px;
}

.credentialform .standaloneText{ 
 font-size: 16px;
}

.web-screen .detail-text{ 
 font-size: 16px;
}

.credentialform .plain{ 
 color: #9a9a9a;
}

.credentialform .field .checkbox label{ 
 color: #9a9a9a;
}

.credentialform .standaloneText{ 
 color: #9a9a9a;
}

.web-screen .detail-text{ 
 color: #9a9a9a;
}

.clientchoices_description{ 
 color: #9a9a9a;
}

.button.default {
 background-color : #02a1c1;
}

.personal_bm_addbox button {
 background: #02a1c1;
}

.button.default:hover {
 background: ;
}

.theme-header-bgcolor {
 background-color :#574f5b; 
}

.web-screen .content-area {
 background :rgb(0, 2, 5); 
}.box  {
 background-color :rgb(0, 2, 5); 
}.block-container .box:hover  {
 background-color :rgb(0, 2, 5); 
}

.largeTiles .storeapp .storeapp-name {
 color :#333333; 
}

.appInfoName {
 color :#333333; 
}

.store-apps-title {
 color :black; 
}

.toolbar-button-unselected {
 color :black; 
}

.storeapp-category {
 color :#999999; 
}

.appInfoCategoriesOrHostName {
 color :#999999; 
}

.app-description {
 color :#999999; 
}

